@import 'normalize';
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    // font-weight: 400;
}
.wrap{
    max-width: 1190px;
    margin: 0 auto;
}


